---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">

	<p><strong>Hi there!</strong></p>
	<p>You’ve reached the personal website of Yubing Zhang.</p>

</div>
<!-- Stop deleting -->

{{ content | safe }}
